.dropdown-container {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    cursor: pointer;
    padding: 10px 16px;
    text-align: center;
  }
  
  .dropdown-title {
    font-weight: bold;
    color: #1e4b2e; 
    font-size: 16px;
    line-height: 1.2;
    border-bottom: 4px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  .dropdown-container:hover .dropdown-header,
  .dropdown-content.open + .dropdown-header{
    color: #42711e; 
    background-color: #f0f2f2;
  }
  
  .dropdown-icon {
    font-size: 24px;
    margin-top: 2px;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    margin-top: 8px;
    padding: 8px 0;
    z-index: 100;
    min-width: 220px;
    text-align: left;
  }
  
  .dropdown-content.open {
    display: block;
  }
  
  .dropdown-content li {
    list-style: none;
    margin: 0;
  }
  
  .dropdown-content li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: background 0.2s ease;
  }
  
  .dropdown-content li a:hover {
    background-color: #f0f0f0;
  }

  /* .dropdown-content {
    display: none;
    position: absolute; 
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    z-index: 10;
  } */
  
  .dropdown-container:hover .dropdown-content {
    display: block; 
  }
  